@import "tailwindcss";
@plugin "daisyui" {
  theme: dark --default;
}
@plugin "daisyui/theme" {
  name: "dark";
  default: true;
  --color-base-100: "#252525";
  --color-primary: "#a00045";
  --color-secondary: "#ff007b";
  --color-accent: "#4e24df";
  --color-accent-content: white;
}
/* @utility btn {
  @apply rounded-full;
} */

* {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
::-webkit-scrollbar {
  display: none;
}

.font-title {
  font-family: var(--font-unbounded);
}

.text-shadow {
  text-shadow: 0.02em 0.02em var(--color-secondary);
}

.glass-sm {
  backdrop-filter: blur(var(--glass-blur, 8px));
}

/* Page Transition Animation */
.revealer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100svh;
  transform-origin: center top;
  background-color: var(--color-secondary);
  pointer-events: none;
  z-index: 30;
}
::view-transition-old(root),
::view-transition-new(root) {
  animation: none !important;
}
::view-transition-group(root) {
  z-index: auto !important;
}
::view-transition-image-pair(root) {
  isolation: isolate;
  will-change: clip-path;
  z-index: 1;
}
::view-transition-new(root) {
  z-index: 10000;
  animation: none !important;
}
::view-transition-old(root) {
  z-index: 1;
  animation: none !important;
}

/* Hover Underline */
.animate-underline {
  position: relative;
  display: inline-block;
}
.animate-underline::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: -1px;
  left: 0;
  background-color: var(--color-secondary);
  transform-origin: bottom right;
  transition: transform 0.3s ease-in-out;
}
.animate-underline:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
